
.idea
dashboard-api/node_modules/
dashboard-api/.cubestore/
dashboard-api/upstream/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dashboard-frontend/node_modules/
dashboard-frontend/.pnp
dashboard-frontend/.pnp.js

# testing
dashboard-frontend/coverage/

# production
dashboard-frontend/build/

# misc
dashsboard-frontend/.DS_Store
dashsboard-frontend/.env.local
dashsboard-frontend/.env.development.local
dashsboard-frontend/.env.test.local
dashsboard-frontend/.env.production.local

dashsboard-frontend/npm-debug.log*
dashsboard-frontend/yarn-debug.log*
dashsboard-frontend/yarn-error.log*
